services:
  redis:
    image: redis:7
    container_name: local-redis
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
    command: redis-server --appendonly yes

  redis-insight:
    image: redis/redisinsight:latest
    ports:
      - "8001:5540"
    depends_on:
      - redis

volumes:
  redis-data:
